/Java/TransitSoft/TransitSoftDBManager/nbproject/
/Java/TransitSoft/TransitSoftDBManager/target/
/Java/TransitSoft/TransitSoftModel/target/
/Java/TransitSoft/TransitSoftPersistance/target/
/Java/TransitSoft/TransitSoftPersistance/nbproject/
/Java/TransitSoft/TransitSoftDBManager/src/main/resources/jdbc.properties
/Java/TransitSoft/TransitSoftBussines/target/
